{% for m in menu %}
	{% if m.items %}
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="{{ root }}{{ m.link }}">{{ m.text }}<b class="caret"></b></a>
			<ul class="dropdown-menu">
				{% for i in m.items %}
		    		<li><a href="{{ root }}{{ i.link }}">{{ i.text }}</a></li>
				{% endfor %}
			</ul>
		</li>
	{% else %}
		<li><a href="{{ root }}{{ m.link }}">{{ m.text }}</a></li>
	{% endif %}
{% endfor %}
