{% if paging %}
	<div class="paging">
		<nav aria-label="{{ paging_title ?? 'Навигация' }}" class="center">
		  <ul class="pagination">
			{% for page in paging.pages %}
				{% if page.current %}
					<li class="active"><span>{{ page.label }}</span></li>
				{% else %}
					<li><a href="{{ page.url }}" title="{{ page.title }}">{{ page.label|raw }}</a></li>
				{% endif %}
			{% endfor %}
		  </ul>
		</nav>			
	</div>
{% endif %}
