<!DOCTYPE html>
{% set lang = lang ?? 'ru' %}
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="theme-color" content="#222" />

        {# init #}
        {% set year = 'now'|date('Y') %}
        {% set year_from = copyright_from ?? year %}
        {% set years_str %}{% if year > year_from %}{{ year_from }}—{% endif %}{{ year }}{% endset %}

        {# set to false to exclude auth blocks #}
        {% set with_auth = with_auth ?? true %}

        <title>{% if title %}{{ title|raw }} - {% endif %}{{ site_name }}{% if not title %} - {{ short_site_description }}{% endif %}</title>

        <!-- created by Sergey "kapxapot" Atroshchenko &copy; {{ years_str }} -->

        <meta name="copyright" content="(c) {{ years_str }} Copyright by {{ site_name }}" />
        {% if site_keywords %}
            <meta name="keywords" content="{{ site_keywords }}" />
        {% endif %}
        <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{% if title %}{{ title }} - {% endif %}{{ site_name }} - {{ site_description }}{% endif %}" />

        {% include 'main/includes/meta_card.twig' %}

        <link rel="shortcut icon" href="{{ fav_icon ?? '/favicon.ico' }}" />

        {% if touch_icon %}
            <link rel="apple-touch-icon" href="{{ touch_icon }}">
        {% endif %}

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

        {% if with_colorbox %}
            <link href="{{ folders.global }}colorbox/colorbox.css" rel="stylesheet" />
        {% endif %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

        {% if with_datatables %}
            <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
            <script src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css">
            <script src="//cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
            <script src="//cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
        {% endif %}

        <!-- Moment.js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>

        {% if with_charts %}
            <!-- Chart.js -->
            <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
        {% endif %}

        {# Font Awesome #}
        <script src="https://kit.fontawesome.com/c7c8269336.js" crossorigin="anonymous"></script>

        {% if with_bootstrap_select %}
            {# lookup #}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
            <script src="{{ folders.global }}bootstrap-select/angular-bootstrap-select.js"></script>
        {% endif %}

        {% if with_lozad %}
            <!-- Lozad.js -->
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
        {% endif %}

        {% if with_hammer %}
            <!-- Hammer.js -->
            <script src="https://hammerjs.github.io/dist/hammer.js"></script>
        {% endif %}

        {% block head_appendix %}{% endblock %}

        {# global Plasticode css #}
        <link href="{{ folders.global }}css/bootstrap3/common.css" rel="stylesheet" />
        <link href="{{ folders.global }}css/bootstrap3/main.css" rel="stylesheet" />

        {# local Plasticode css #}
        {% include 'main/includes/css.twig' %}

        {% if rss_feed %}
            <link rel="alternate" type="application/rss+xml" title="{{ site_name }} RSS" href="{{ rss_feed }}" />
        {% endif %}

        {% if rel_prev %}<link rel="prev" href="{{ rel_prev }}" />{% endif %}
        {% if rel_next %}<link rel="next" href="{{ rel_next }}" />{% endif %}

        {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}

        {% if google_analytics_id and not debug %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ google_analytics_id }}');
            </script>
        {% endif %}
    </head>

    {% set angular_app = angular.app ?? 'pcApp' %}
    {% set angular_ctrl = angular.ctrl ?? 'pcCtrl' %}

    {% if with_bootstrap_select %}
        {% set angular_modules %}'angular-bootstrap-select', 'angular-bootstrap-select.extra'{% endset %}
    {% endif %}

    {% if fullscreen %}
        {% set body_styles = 'fullscreen' %}
    {% endif %}

    <body ng-app="{{ angular_app }}" ng-controller="{{ angular_ctrl }}"{% if body_styles %} class="{{ body_styles }}"{% endif %}>
        <!-- nav bar -->
        {% include 'main/includes/nav.twig' %}

        <div class="container">
            <div class="alert alert-success alert-dismissable alert-corner fade in" ng-cloak>
                <a href="javascript:void()" class="close" data-hide="alert" aria-label="close">&times;</a>
                {{ '{{alertSuccess}}' }}
            </div>

            {% if with_auth %}
                {% if auth.user %}
                    {% include 'modals/auth/password/change.twig' %}
                {% else %}
                    {% include 'modals/auth/signup.twig' %}
                    {% include 'modals/auth/signin.twig' %}
                {% endif %}
            {% endif %}

            <!-- content -->
            <div class="row">
                <!-- main -->
                <div id="main" class="{% if not one_column %}col-md-9 {% endif %}col-xs-12">
                    {% block content %}{% endblock %}

                    {% if not no_social %}
                        <div id="social-share">
                            {% include 'main/includes/share.twig' %}
                        </div>
                    {% endif %}

                    {% if not no_disqus %}
                        <div id="comments">
                            {% include 'main/includes/comments.twig' %}
                        </div>
                    {% endif %}

                    <div class="ad visible-sm-block visible-lg-block">
                        {% include 'main/includes/banners/bottom_sm_lg.twig' %}
                    </div>

                    <div class="ad visible-md-block">
                        {% include 'main/includes/banners/bottom_md.twig' %}
                    </div>

                    <div class="ad visible-xs-block">
                        {% include 'main/includes/banners/bottom_xs.twig' %}
                    </div>
                </div>

                {% include 'angular.twig' with { 'with_auth': with_auth, 'lang': lang } %}

                <!-- SIDEBAR -->
                <div id="sidebar" class="{% if not one_column %}col-md-3 {% endif %}col-xs-12">
                    {% if sidebar %}
                        <div id="sidebar-panels">
                            {% include 'main/includes/sidebar.twig' %}
                        </div>
                    {% endif %}

                    {% if not one_column %}
                        <div class="ad visible-lg-block">
                            {% include 'main/includes/banners/sidebar_lg.twig' %}
                        </div>

                        <div class="ad visible-md-block">
                            {% include 'main/includes/banners/sidebar_md.twig' %}
                        </div>
                    {% endif %}

                    {% if vk_widget.group_id %}
                        {% if index %}
                            <div id="vk">
                                {% include 'main/includes/vk.twig' %}
                            </div>
                        {% endif %}

                        {% if vk_widget.with_chat %}
                            {% include 'main/includes/vk_chat.twig' %}
                        {% endif %}
                    {% endif %}

                    {% include 'main/includes/sidebar_more.twig' %}
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div id="footer" class="navbar navbar-inverse">
            <div class="container gray-9">
                {% include 'main/includes/footer.twig' %}
            </div>
        </div>

        <!-- scripts -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {% if with_colorbox %}
            <script src="{{ folders.global }}colorbox/colorbox.js"></script>
        {% endif %}

        {% include 'main/includes/js.twig' %}

        {# local js #}
        <script src="{{ folders.global }}js/common.js"></script>
        <script src="{{ folders.global }}js/main.js"></script>

        {% if auth_token_key %}
            <script>
                authTokenKey = '{{ auth_token_key }}';
            </script>
        {% endif %}

        {% if with_charts %}
            <script src="{{ folders.global }}js/colors.js"></script>
        {% endif %}

        {% block more_js %}{% endblock %}
    </body>
</html>
