{% macro create_button(plural_entity_type, label, path_args = {}) %}
    {% set target_url = path_for('admin.entities.' ~ plural_entity_type, path_args) ~ '?action=create' %}
    <a class="btn btn-lg btn-default btn-block" href="{{ target_url }}" role="button">{{ label }} &raquo;&raquo;</a>
{% endmacro %}

{% macro edit_button(entity, path_args = {}) %}
    {% import 'macros.twig' as m %}
    {% if can_entity(entity, 'edit') %}
        <a class="btn btn-default btn-pad pull-right" href="{{ path_for('admin.entities.' ~ entity.plural_alias, path_args) ~ '?action=edit&id=' ~ entity.get_id }}" role="button" title="Редактировать">{{ m.gi('pencil') }}</a>
    {% endif %}
{% endmacro %}

{% macro breadcrumbs(context, items, title) %}
    <div class="panel-body breadcrumbs">
        <ol class="breadcrumb break-all">
            <li><a href="{{ path_for('main.index') }}">{{ context.site_name }}</a></li>
            {% if items %}
                {% for i in items %}
                    <li><a{% if i.class %} class="{{ i.class }}"{% endif %}{% if i.title %} title="{{ i.title }}"{% endif %} href="{{ i.url }}">{{ i.text }}</a></li>
                {% endfor %}
            {% endif %}
            <li class="active">{{ title|raw }}</li>
        </ol>
    </div>
{% endmacro %}

{% macro tab(id, title, is_active = false, label = null) %}
    {% set label = label ?? title %}
    <li role="presentation"{% if is_active %} class="active"{% endif %} title="{{ title }}">
        <a href="#{{ id }}" aria-controls="{{ id }}" role="tab" data-toggle="tab">{{ label|raw }}</a>
    </li>
{% endmacro %}
