{% if id and title and body %}
    {% import 'macros.twig' as gm %}
    
    {% set c_id = 'collapse-' ~ id %}
    
    <a role="button" data-toggle="collapse" href="#{{ c_id }}" aria-expanded="{{ visible ? 'true' : 'false' }}" aria-controls="{{ c_id }}" class="collapse__header">
        {{ title }}
	    {{ gm.gi('chevron-right collapse--hidden') }}
	    {{ gm.gi('chevron-down collapse--visible') }}
    </a>
    <div class="collapse{% if visible %} in{% endif %} mt-2" id="{{ c_id }}">
	    {{ body|raw }}
    </div>
{% endif %}
