{% if source %}
    {% set tag = tag ?? 'img' %}
	{% set main_tag = (tag == 'img') ? 'div' : 'figure' %}
	{% set caption_tag = (tag == 'img') ? 'div' : 'figcaption' %}

    {% set div_classes = 'img' %}

    {% if tag == 'rightimg' %}
        {% set div_classes = div_classes ~ ' img-right' %}
    {% elseif tag == 'leftimg' %}
        {% set div_classes = div_classes ~ ' img-left' %}
    {% endif %}
    
    {% if width > 0 %}
        {% set thumb = thumb ?? source %}
    {% endif %}

	<{{ main_tag }} class="{{ div_classes }}">
	    {% if thumb or url %}<a href="{{ url ?? source }}"{% if not url %} class="colorbox"{% endif %}>{% endif %}
		<img src="{{ thumb ?? source }}"
		    class="img-responsive"
		    {% if width > 0 %}width="{{ width }}"{% endif %}
		    {% if height > 0 %}height="{{ height }}"{% endif %}
		    {% if alt %}title="{{ alt }}"{% endif %}
		/>
	    {% if thumb or url %}</a>{% endif %}

        {% if alt %}
	        <{{ caption_tag }} class="img-caption">
	            {% if url %}<a href="{{ url }}">{{ alt }}</a>{% else %}{{ alt }}{% endif %}
            </{{ caption_tag }}>
	    {% endif %}
    </{{ main_tag }}>
{% endif %}
