{% if url %}<a href="{{ url }}"{% if title %} data-toggle="tooltip" title="{{ title }}"{% endif %}{% if style %} class="{{ style }}"{% endif %}{% if rel %} rel="{{ rel }}"{% endif %}{% if data|length > 0 %}{% for k, v in data %} data-{{ k }}="{{ v }}"{% endfor %}{% endif %}>{{ text|raw }}</a>{% else %}{{ text|raw }}{% endif %}
