<!DOCTYPE html>
<html lang="ru">
	{% set year = 'now'|date('Y') %}
	{% set year_from = admin_copyright_from ?? year %}
	{% set years_str %}{% if year > year_from %}{{ year_from }}—{% endif %}{{ year }}{% endset %}

	{% set admin_title = admin_title ?? 'Админ' %}

	{% set angular_app = 'pcApp' %}
	{% set angular_ctrl = 'pcCtrl' %}
	{% set angular_admin_app = angular.adminApp ?? 'plasticodeAdmin' %}
	{% set angular_admin_app_kebab = angular.adminAppKebab ?? 'plasticode-admin' %}
	{% set angular_modules %}'angular-bootstrap-select', 'angular-bootstrap-select.extra', '{{angular_admin_app}}'{% endset %}

	{% set signin_onload = true %}
	{% set with_auth = true %}

	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
			<title>{% if title %}{{ title }} - {% endif %}{{ admin_title }} - {{ site_name }}</title>

			<!-- coded by Sergey Atroshchenko (kapxapot) / gmail / com (c) {{ years_str }} -->
		
			<base href="{{ base }}/">
		
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    		
    		{% if with_colorbox %}
    			<link href="{{ folders.global }}colorbox/colorbox.css" rel="stylesheet" />
    		{% endif %}

	    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
			<script>var API_ENDPOINT = '{{ api }}';</script>
			<script src="{{ angular.adminApp ? folders.local : folders.global }}js/{{angular_admin_app_kebab}}/dist/{{angular_admin_app_kebab}}.min.js"></script>
        	
        	{# Font Awesome #}
            <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
            
            {# lookup #}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
		    <script src="{{ folders.global }}bootstrap-select/angular-bootstrap-select.js"></script>

			{% block head_appendix %}{% endblock %}

			{# local CSS in the end to override all #}
			<link href="{{ angular.adminApp ? folders.local : folders.global }}js/{{angular_admin_app_kebab}}/dist/main.css" rel="stylesheet" />
		    <link href="{{ folders.global }}css/bootstrap3/common.css" rel="stylesheet" />
			<link href="{{ folders.global }}css/bootstrap3/admin.css" rel="stylesheet">
		
    		{# local Plasticode css #}
    		{% include 'admin/includes/css.twig' %}
		{% endblock %}
	</head>

	<body ng-app="{{ angular_app }}" ng-controller="{{ angular_ctrl }}">
		<div class="container">
			{% include 'admin/includes/nav.twig' %}

			{% if title and not title_hidden %}
				<h4>
					{{ title }}
					{% block title_appendix %}{% endblock %}
				</h4>
			{% endif %}

			{% if breadcrumbs %}
  				<ol class="breadcrumb">
					{% for bc in breadcrumbs %}
						<li>{% if bc.link %}<a href="{{ bc.link }}">{{ bc.text }}</a>{% else %}{{ bc.text }}{% endif %}</li>
					{% endfor %}
				</ol>
			{% endif %}

			<div class="alert alert-success alert-dismissable alert-corner fade in" ng-cloak>
				<a href="javascript:void()" class="close" data-hide="alert" aria-label="close">&times;</a>
				{{ '{{alertSuccess}}' }}
			</div>
			
			{% if auth.user %}
				{% include 'modals/auth/password/change.twig' %}
			{% else %}
				{% include 'modals/auth/signup.twig' %}
				{% include 'modals/auth/signin.twig' %}
			{% endif %}
			
			{{ more_modals }}
        </div>

		<div class="container{% if full_width %}-fluid{% endif %}">
			<div class="row">
				<div class="col-xs-12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>

		{% include 'angular.twig' %}

		<div class="container">
			<div class="footer">
				<div>&copy; {{ years_str }} <a href="mailto:{{ contact_email }}">{{ site_name }}</a></div>
				<div>Сайт построен на <a href="https://github.com/kapxapot/plasticode">Plasticode</a></div>
			</div>
		</div>

		{% block js %}
    		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    		
    		{% if with_colorbox %}
    			<script src="{{ folders.global }}colorbox/colorbox.js"></script>
    		{% endif %}

    		{% block js_appendix %}{% endblock %}
    	
		    <script src="{{ folders.global }}js/common.js"></script>
		    <script src="{{ folders.global }}js/admin.js"></script>

			{% if auth_token_key %}
				<script>
					authTokenKey = '{{ auth_token_key }}';
				</script>
			{% endif %}
		{% endblock %}
	</body>
</html>
