{% macro tree(items, field = 'items') %}
    {% import _self as m %}
    {% if items %}
        <ul>
            {% for i in items %}
                <li>
                    <a href="{{ i.url }}">{{ i.title }}</a>
                    {{ m.tree(i[field], field) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro gi(name, title = null) %}<i class="glyphicon glyphicon-{{ name }}" aria-hidden="true"{% if title %} title="{{ title }}"{% endif %}></i>{% endmacro %}

{% macro moment(date, format = 'DD.MM.Y HH:mm') %}{% import _self as m %}{{ m.ng_cloak("{{moment('" ~ date ~ "').format('" ~ format ~ "')}}") }}{% endmacro %}

{% macro moment_local(date, default = null) %}{% import _self as m %}{{ date ? m.moment(date, 'D MMMM Y, HH:mm') : default ?? 'no date' }}{% endmacro %}

{% macro moment_local_short(date, default = null) %}{% import _self as m %}{{ date ? m.moment(date, 'D MMMM Y') : default ?? 'no date' }}{% endmacro %}

{% macro moment_smart(date) %}{% import _self as m %}{{ date.has_time ? m.moment_local(date.iso) : m.moment_local_short(date) }}{% endmacro %}

{% macro moment_from_now(date_iso) %}{% import _self as m %}{% if date_iso %}{{ m.ng_cloak("{{moment('" ~ date_iso ~ "').fromNow()}}") }}{% else %}неизвестно когда{% endif %}{% endmacro %}

{% macro moment_diff(start, end, unknown_end, format = 'D MMMM Y', short_format = 'D MMMM') %}{% import _self as m %}{{ m.ng_cloak("{{momentDiff('" ~ (start.has_time ? start.iso : start) ~ "', " ~ (end ? "'" ~ (end.has_time ? end.iso : end) ~ "'" : "null") ~ ", " ~ unknown_end ~ (format ? ", '" ~ format ~ "'" : "") ~ (short_format ? ", '" ~ short_format ~ "'" : "") ~ ")}}") }}{% endmacro %}

{% macro moment_short_range(start, end, start_format = 'MMM D, H:mm', end_format = 'H:mm', no_end_placeholder = '?') %}{% import _self as m %}{{ m.moment(start, start_format) }} – {{ end ? m.moment(end, end_format) : no_end_placeholder }}{% endmacro %}

{% macro rgb(rgb) %}rgb({{ rgb.red }}, {{ rgb.green }}, {{ rgb.blue }}){% endmacro %}

{% macro rgba(rgba) %}rgba({{ rgba.red }}, {{ rgba.green }}, {{ rgba.blue }}, {{ rgba.alpha }}){% endmacro %}

{% macro ng_cloak(content, label = null) %}<span class="splash" ng-cloak>{{ label ?? 'загрузка...' }}</span><span ng-cloak>{{ content }}</span>{% endmacro %}
